<!-- Sidebar -->
<div th:fragment="sidebar">
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion h-100" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-laugh-wink"></i>
            </div>
            <div class="sidebar-brand-text mx-3">SSP Admin</div>
        </a>
        <!-- End of Sidebar - Brand -->

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
            <a class="nav-link" href="/">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard</span></a>
        </li>
        <!-- End of Nav Item - Dashboard -->

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Booking Calendar -->
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="fas fa-fw fa-calendar"></i>
                <span>Calendar</span></a>
        </li>
        <!-- End of Nav Item - Booking Calendar -->

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Pass -->
        <li class="nav-item">
            <a class="nav-link" href="/viewPasses">
                <i class="fas fa-fw fa-ticket-alt"></i>
                <span>Pass</span></a>
        </li>
        <!-- End of Nav Item - Pass -->

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Admin List -->
        <li class="nav-item">
            <a class="nav-link" href="/viewStaffs">
                <i class="fas fa-fw fa-address-card"></i>
                <span>Staff List</span></a>
        </li>
        <!-- End of Nav Item - Admin List -->

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            Edit
        </div>

        <!-- Nav Item - Template Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
                aria-expanded="true" aria-controls="collapseTwo">
                <i class="fas fa-fw fa-envelope"></i>
                <span>Email Template</span>
            </a>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Template</h6>
                    <a class="collapse-item" href="buttons.html">Booking Confirm</a>
                    <a class="collapse-item" href="cards.html">Return Pass</a>
                </div>
            </div>
        </li>
        <!-- End of Nav Item - Template Collapse Menu -->

        <!-- Nav Item - Booking Criteria -->
        <li class="nav-item">
            <a class="nav-link" href="charts.html">
                <i class="fas fa-fw fa-check-circle"></i>
                <span>Booking Criteria</span></a>
        </li>
        <!-- End of Nav Item - Booking Criteria -->

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            GOP
        </div>

        <!-- Nav Item - Pass -->
        <li class="nav-item">
            <a class="nav-link" href="/gopReturnPass">
                <i class="fas fa-fw fa-ticket-alt"></i>
                <span>Pass</span></a>
        </li>
        <!-- End of Nav Item - Pass -->

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            STAFF
        </div>
        
        <!-- Nav Item - Booking Calendar -->
        <li class="nav-item">
            <a class="nav-link" href="/bookAPass">
                <i class="fas fa-fw fa-calendar"></i>
                <span>Calendar</span></a>
        </li>
        <!-- End of Nav Item - Booking Calendar -->

        <!-- Nav Item - Loan Passes -->
        <li class="nav-item">
            <a class="nav-link" href="/loanedPasses">
                <i class="fas fa-fw fa-book"></i>
                <span>Loaned Passes</span></a>
        </li>
        <!-- End of Nav Item - Loan -->
        
        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

        <!-- Sidebar Message -->
        <div class="sidebar-card d-none d-lg-flex">
            <img class="sidebar-card-illustration mb-2" src="img/undraw_rocket.svg" alt="...">
            <p class="text-center mb-2"><strong>SB Admin Pro</strong> is packed with premium features, components, and more!</p>
            <a class="btn btn-success btn-sm" href="https://startbootstrap.com/theme/sb-admin-pro">Upgrade to Pro!</a>
        </div>

    </ul>
    <!-- End of Sidebar -->
</div>