<!-- Sidebar -->
<div th:fragment="sidebar">
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion h-100" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/" sec:authorize="hasAuthority('Admin')">
            <div class="sidebar-brand-icon">
                <img src="../static/img/favicon.png" width="30" th:src="@{../img/favicon.png}"/>
            </div>
            <div class="sidebar-brand-text mx-3">SSP Admin</div>
        </a>
        <!-- End of Sidebar - Brand -->
        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/bookAPass" sec:authorize="hasAuthority('Staff')">
            <div class="sidebar-brand-icon">
                <img src="../static/img/favicon.png" width="30" th:src="@{../img/favicon.png}"/>
            </div>
            <div class="sidebar-brand-text mx-3">SSP Staff</div>
        </a>
        <!-- End of Sidebar - Brand -->
        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/gopReturnPass" sec:authorize="hasAuthority('GOP')">
            <div class="sidebar-brand-icon">
                <img src="../static/img/favicon.png" width="30" th:src="@{../img/favicon.png}"/>
            </div>
            <div class="sidebar-brand-text mx-3">SSP GOP</div>
        </a>
        <!-- End of Sidebar - Brand -->
        <!--Admin View-->
        <div sec:authorize="hasAuthority('Admin')">
            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item" id="dashboard">
                <a class="nav-link" href="/">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>
            <!-- End of Nav Item - Dashboard -->

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Pass -->
            <li class="nav-item" id="pass">
                <a class="nav-link" href="/viewPasses">
                    <i class="fas fa-fw fa-ticket-alt"></i>
                    <span>Pass</span></a>
            </li>
            <!-- End of Nav Item - Pass -->

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Admin List -->
            <li class="nav-item" id="staff">
                <a class="nav-link" href="/viewStaffs">
                    <i class="fas fa-fw fa-address-card"></i>
                    <span>Staff List</span></a>
            </li>
            <!-- End of Nav Item - Admin List -->

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

                    <!-- Nav Item - Loan -->
            <li class="nav-item" id="loanHistory">
                <a class="nav-link" href="/viewLoanHistory">
                    <i class="fas fa-fw fa-history"></i>
                    <span>Loan History</span></a>
            </li>
            <!-- End of Nav Item - Loan -->

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Edit
            </div>

            <!-- Nav Item - Email Template -->
            <li class="nav-item" id="emailTemplate">
                <a class="nav-link" href="/listUploadedFiles">
                    <i class="fas fa-fw fa-envelope"></i>
                    <span>Email Template</span></a>
            </li>
            <!-- End of Nav Item - Email Template -->

            <!-- Nav Item - Booking Criteria -->
            <li class="nav-item" id="bookingCriteria">
                <a class="nav-link" href="/bookingCriteria">
                    <i class="fas fa-fw fa-check-circle"></i>
                    <span>Booking Criteria</span></a>
            </li>
            <!-- End of Nav Item - Booking Criteria -->
        </div>
        <!--//Admin View End-->

        <!--GOP-->
        <div sec:authorize="hasAuthority('GOP')">
            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                GOP
            </div>

            <!-- Nav Item - Pass -->
            <li class="nav-item" id="gopReturnPass">
                <a class="nav-link" href="/gopReturnPass">
                    <i class="fas fa-fw fa-ticket-alt"></i>
                    <span>Pass</span></a>
            </li>
        </div>
        <!-- End of Nav Item - Pass -->
        <!--//GOP-->

        <!--Staff-->
        <div sec:authorize="hasAuthority('Staff') || hasAuthority('Admin')">
            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                STAFF
            </div>
            
            <!-- Nav Item - Booking Calendar -->
            <li class="nav-item" id="bookAPass">
                <a class="nav-link" href="/bookAPass">
                    <i class="fas fa-fw fa-calendar"></i>
                    <span>Calendar</span></a>
            </li>
            <!-- End of Nav Item - Booking Calendar -->

            <!-- Nav Item - Loan Passes -->
            <li class="nav-item" id="loanedPasses">
                <a class="nav-link" href="/loanedPasses">
                    <i class="fas fa-fw fa-book"></i>
                    <span>Loaned Passes</span></a>
            </li>
        </div>
        <!-- End of Nav Item - Loan -->
        
        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>
        <!--//Staff-->

    </ul>
    <!-- End of Sidebar -->
</div>